<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>818731504191-hq71i827nb2e3f82e643cdaogvad9ulk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.818731504191-hq71i827nb2e3f82e643cdaogvad9ulk</string>
	<key>API_KEY</key>
	<string>AIzaSyAVszknoN9Gm31ppt1HsMj1xnrbDC_A7bY</string>
	<key>GCM_SENDER_ID</key>
	<string>818731504191</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.movies</string>
	<key>PROJECT_ID</key>
	<string>movies-bd41a</string>
	<key>STORAGE_BUCKET</key>
	<string>movies-bd41a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:818731504191:ios:fd428463d060e0ca581e8a</string>
</dict>
</plist>